.MuiPaper-root.MuiAppBar-root {
    background: #161E29;
}

/* Album layout */
.MuiPaper-root.MuiAppBar-root h6 {
    color: aliceblue;
}

/* link nav */
h6.MuiTypography-root.anotherNav {
    margin-left: auto;
    color: #7DD6F6;
    padding-right: 1rem;
}

h6.MuiTypography-root a {
    color: #7DD6F6;
    text-decoration: none;
}

h6.MuiTypography-root a:hover {
    color: deepskyblue;
    text-decoration: none;
}

/* header */
.MuiBox-root {
    background: #0A0E1A;
}

.MuiBox-root h1 {
    color: #7DD6F6;
}

.MuiBox-root h5 {
    color: aliceblue;
}

/* header button */
#dark .headButton {
    background: #5585A4;
}

#dark .headButton:hover {
    background: #3598db;
}

/* card container bg */
.MuiContainer-root {
    background: #0A0E1A;
}

/* card box bg */
.MuiPaper-root.MuiCard-root {
    background-color: rgb(21 16 48);
}

/* footer */

footer.MuiBox-root {
    background-color: #161E29;
}

h6.MuiTypography-root {
    color: #7DD6F6;
}

p.MuiTypography-root {
    color: aliceblue;
}

/* jode color */
h2.MuiTypography-root {
    color: #fc6ac3;
}

/* jode link */
.MuiButton-root a {
    color: aliceblue;
    text-decoration: none;
}

.MuiButton-root a:hover {
    color: #7DD6F6;
    text-decoration: none;
}

/* checkbox */
.MuiButtonBase-root.MuiCheckbox-root {
    background-color: rgb(21 16 48);
    border-radius: 0;
}

.MuiButtonBase-root.MuiCheckbox-root :hover {
    background-color: #2B3E52;
    border-radius: 0;
}

.jodeCheckBox {
    margin-left: auto;
}

#dark .MuiSvgIcon-root {
    color: #7DD6F6;
    display: flex;
}


/* -------------------------------------------------------*/
/* light theme */

#light .MuiPaper-root.MuiAppBar-root {
    background: #a4c6eb;
}

/* Album layout */
#light .MuiPaper-root.MuiAppBar-root h6 {
    color: #102b5a;
}

/* link nav */
#light h6.MuiTypography-root.anotherNav {
    margin-left: auto;
    padding-right: 1rem;
}

#light h6.MuiTypography-root a {
    color: #102b5a;
    text-decoration: none;
}

#light h6.MuiTypography-root a:hover {
    color: black;
    text-decoration: none;
}

/* header */
#light .MuiBox-root {
    background: #ecf4fe;
}

/* sos12 */
#light .MuiBox-root h1 {
    color: #102b5a;
}

/* header paragraph */
#light .MuiBox-root h5 {
    color: #015c92
}

/* header button */
#light .headButton {
    background: #A1CFFF;
    color: #102b5a;
}


#light .headButton :hover {
    background: #89BFFB;
}

/* card container bg */
#light .MuiContainer-root {
    background: #ecf4fe;
}

/* card box bg */
#light .MuiPaper-root.MuiCard-root {
    background: white;
}

/* footer */
#light footer.MuiBox-root {
    background-color: #a4c6eb;
}

#light h6.MuiTypography-root {
    color: #102b5a;
}

#light p.MuiTypography-root {
    color: #015c92;
}

/* jode color */
#light h2.MuiTypography-root {
    color: #102b5a;
}

/* jode link */
#light .MuiButton-root a {
    color: #102b5a;
    text-decoration: none;
}

#light .MuiButton-root a:hover {
    color: #102b5a;
    text-decoration: none;
}

/* checkbox */
#light .MuiButtonBase-root.MuiCheckbox-root {
    background-color: white;
    border-radius: 0;
}

.MuiButtonBase-root.MuiCheckbox-root :hover {
    background-color: #2B3E52;
    border-radius: 0;
}

.jodeCheckBox  {
    margin-left: auto;
}

.MuiSvgIcon-root {
    color: #ee4dd9;
    display: flex;
}


/* mail box styles -----------------------------------------------*/
/* light theme */


#light .contactContainer {
    display: flex;
    justify-content: center;
    padding: 10px 50px 50px 50px;
    margin: 50px auto 0 auto;
    max-width: 600px;
    border-radius: 50px;
    background: #FFF9F9;
    box-shadow: 0 4px 10px 0 rgba(139, 192, 255, 0.25);

}

#light .form-group h4 {
    justify-content: center;
}

/* subject */
#light h4.mail {
    color: #102b5a;
    text-align: center;
}

/* message box */
#light .form-group textarea {
    width: 299px;
    height: 153px;
    flex-shrink: 0;
    max-width: 450px;
    border-radius: 10px;
    border-width: 0;
    border-color: #102b5a;
    background: linear-gradient(153deg, rgba(254, 231, 211, 0.30) 0%, rgba(254, 211, 211, 0.10) 100%);
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
    font-size: 16px;
    color: #102b5a;
}


/* button  */
#light .col-md-12 {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

#light .btn {
    width: 140px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 30px;
    background: linear-gradient(153deg, rgba(139, 192, 255, 0.25) 0%, rgba(254, 211, 211, 0.10) 100%);
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: none;
    color: #102b5a;
}

#light .btn:hover {
    border-radius: 30px;
    background: linear-gradient(153deg, rgba(255, 181, 139, 0.25) 0%, rgba(254, 211, 211, 0.10) 100%);
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

/* dark theme */
.contactContainer {
    display: flex;
    justify-content: center;
    padding: 10px 50px 50px 50px;
    margin: 50px auto 0 auto;
    max-width: 600px;
    border-radius: 50px;
    background: #2B3E52;
    box-shadow: 0 4px 10px 0 rgba(139, 192, 255, 0.25);

}

.form-group h4 {
    justify-content: center;
}

/* subject */
h4.mail {
    color: aliceblue;
    text-align: center;
}

/* message box */
.form-group textarea {
    width: 299px;
    height: 153px;
    flex-shrink: 0;
    max-width: 450px;
    border-radius: 10px;
    border-width: 0;
    border-color: #102b5a;
    background: linear-gradient(153deg, rgba(255, 255, 255, 0.30) 0%, rgba(237, 244, 255, 0.46) 100%);
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
    font-size: 16px;
    color: aliceblue;
}


/* button  */
.col-md-12 {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.btn {
    width: 140px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 30px;
    background: linear-gradient(159deg, rgba(186, 218, 255, 0.59) 0%, #D3E7FE 100%);
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: none;
    color: #102b5a;
}

.btn:hover {
    border-radius: 30px;
    background: linear-gradient(159deg, rgba(145, 183, 227, 0.59) 0%, #D3F6FE 100%);
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

/* --------------------------------------------------------- */

.border-gray-500 {
    --tw-border-opacity: 0;
}

.MuiContainer-root {
    background-color: #050816;
}

.MuiPaper-root.MuiCard-root {
    border-radius: 10px;
    border-width: thin;
    /*border-color: #fc6ac3;*/
}

/*#about.hash-span {*/
/*    padding-bottom: 0;*/
/*}*/

/*button {*/
/*    border-radius: 10px;*/
/*    border-width: thin;*/
/*    border-color: #fc6ac3;*/
/*    --button-bg: #fc6ac3;*/
/*}*/

button a.slide {
    text-decoration: none;
    background-color: #1f1f44;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px 10px 10px 10px;
}

button a.slide:hover {
    text-decoration: none;
    background-color: #2e2b52;
}

span.underline.decoration-pink-500 {
    --tw-text-opacity: 1;
    color: #fc75c3;
    text-decoration: none;
}

.Problems p {
    padding-bottom: 20px;
}

.MuiContainer-root section {
    padding-top: 0;
}

div.MuiContainer-root {
    padding-top: 0;
}

